<!-- Bottom Navigation -->
<div class="fixed bottom-0 w-full bg-black border-t border-gray-700 flex justify-around py-3 text-gray-400">
    <a href="/feed"><i class="ri-home-line text-2xl"></i></a>
    <i class="ri-search-line text-2xl"></i>
    <a href="/createpost"><i class="ri-pencil-line text-2xl"></i></a>
    <a href="/profile"><i class="ri-group-line text-2xl"></i></a>
    <i class="ri-notification-line text-2xl relative">
        <span class="absolute -top-2 -right-2 bg-blue-500 text-xs text-white rounded-full px-1">20+</span>
    </i>
</div>
</body>

</html>